body {
	background-image: url(../img/jumbotron-bg.jpg);
	background-size: contain;

}

.cover-overlay {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.712);
}


.card {
	background-color: rgba(255, 255, 255, 0.877);
}
