.nomer {
	border-radius: 100%;
	width: 30px;


}



.visibtn h2,
.misibtn h2,
.tentangbtn h2 {
	font-size: 28px;
	color: #000000;
	font-weight: 550;

}


.visi,
.misi,
.tentang {
	background-color: #00000018;
	margin-bottom: 30px;
	border-radius: 30px;
}

.figurevisi {
	padding: 20px;
	font-size: 20px;

}

.figuremisi,
.figuretentang {
	padding: 70px;
	font-size: 20px;
}


.tentang h2 span {
	font-size: 25px;
}



/* RESPONSIVE */
@media (min-width: 992px) {}
