.misi p,
.visi p,
.tentang p {
	font-size: 16px;
	font-weight: 600;
}

.misi h2,
.visi h2,
.tentang h2 {
	font-size: 30px;
	font-weight: 700;
}



/* Navbar */



.navbar {
	background-color: rgba(0, 0, 0, 0.856) !important;
	position: sticky;
	width: 100%;
	z-index: 9999999999;
}

#logo {
	vertical-align: middle;
}

.navbar-brand span {
	font: Poppins;
	font-size: 1.8rem;
	line-height: 1.2;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
}

.navbar-brand b {
	font-weight: 300;
	display: block;
	font-size: 40%;
	line-height: 1;
}

.nav-item {
	color: #ffffff !important;
}



.cover-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.699);
}



.jumbotron img {
	width: 150px;
	border: 4px solid #232323a9;

}

.status p {
	font-size: 30px;
	margin-top: -10px;
	font-weight: 800;

}

.calon h4 {
	font-weight: 800;
}


hr {
	border-top: 4px solid #0000003f;
	width: 250px;
}



.tentang {
	background-color: rgb(255, 255, 255);
}

section {
	min-height: 150px;
}

footer {
	background-color: rgb(20, 20, 20);
	margin-top: 70px;
	padding-top: 30px;
	position: relative;
	bottom: 0 !important;
}

footer p {
	margin-top: -10px;
	color: rgb(207, 207, 207);
	font-size: 0.8em;
	font-family: 'Poppins', sans-serif;
}

footer p i {
	color: red;
	font-family: 'Poppins', sans-serif;
}

.tombol {
	border-radius: 40px;
	text-transform: uppercase;
}

/* Gallery */

.container.gallery-container {

	background-color: #fff;
	color: #35373a;
	border-radius: 20px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.226);

}

.gallery-container h1 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.gallery-container p.page-description {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	max-width: 800px;
	margin: 8px auto;
	color: #888;
	font-size: 18px;
}

.tz-gallery {
	padding: 40px;
}

.tz-gallery .lightbox img {
	width: 100%;
	margin-bottom: 30px;
	transition: 0.2s ease-in-out;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}


.tz-gallery .lightbox img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
	border-radius: 4px;
}

.baguetteBox-button {
	background-color: transparent !important;
}


@media(max-width: 768px) {

	.container.gallery-container {
		border-radius: 0;
	}
}

/* Akhir Gallery */


/* RESPONSIVE */
@media (min-width: 992px) {

	.navbar {
		margin-top: -10px;
		background-color: rgba(24, 24, 24, 0.856) !important;
	}

	.navbar-brand span {
		font-size: 2.3rem;
	}

	.navbar-brand b {
		font-weight: 300;
		font-size: 40%;
	}

	.navbar-brand,
	.nav-link {
		color: white !important;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
	}

	.nav-link {
		text-transform: uppercase;
		margin-right: 7px;
	}

	.nav-link:hover::after,
	.nav-link.active::after {
		content: '';
		display: block;
		border-bottom: 3px solid #0B63DC;
		margin: auto;
		margin-bottom: -8px;
		width: 50%;
		padding-top: 5px;
	}




	.jumbotron img {
		width: 200px;
	}

}